/* CSS Elise Models oefening op Flexbox Model */

/* Algemeen */

body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    color: white;
    margin: 0.25em 0;
}

section {
    padding: 0;
    padding-top: 1em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}
.fotos {
    padding: 0 1em;
}
header {
    padding: 1em 2em ;
}

.wrapper {
    width: 47.500em;
    margin: 0 auto;
}

nav ul li a{
    text-decoration: none;
    font-weight: bold;
}
nav ul li {
    list-style-type: none;
}

footer {
    padding: 1em 2em;
}

/* colors */
header {
    background: #D93E89;
}
span {
    background: #A5CB4E;
}
.wrapper {
    background: #F7F7F7;
}
.kader {
    background: #FD6943;
}
.model {
    background: white;
    margin: 1.125em;
}
.midden {
    background: #55C5E8;
}
footer {
    background: #F4E740;
}
/* Flexible models */
.gallery {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.gallery>span {
    width: 10.3em;
    height: 10.3em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    flex: initial;
}

.gallery>span:nth-child(4) {
    margin-right: 1em;
}
.gallery>span:nth-child(5) {
    margin-left: 1em;
}
.gallery>span:first-child {
    margin-left: 1em;
}
.gallery>span:last-child {
    margin-right: 1em;
}

/* flexible elise + nav */
.midden {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0;

}
.midden > div {
    width: 31.625em ;
    display: inline-flex;
    flex-flow: row wrap;
}
.model {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
.model h2 {
    width: 100%;
}

.img {
    height: 18em ;
    width: 13em;
    align-self: flex-start;
}
.info {
    display: inline;
    vertical-align: top;
    padding: 0 0 0 0.3em;
    flex: 1 1 0;
}
.info p {
    padding: 0;
    margin: 0 0 0.6em;
}


/* outlines */
/*div {*/
    /*outline: 2px dashed slategray;*/
/*}*/
/*p {*/
    /*outline: 2px dashed green;*/
/*}*/
/*span {*/
    /*outline: 2px dashed red;*/
/*}*/

/*clear */
.cf {clear:both}

/*clearfix */
.clearfix:before, .clearfix:after {
    content:" ";
    display:table;
}
.clearfix:after{
    clear:both;
}
/*enkel voor IE6/7 */
.clearfix {*zoom: 1;}

